@model IEnumerable<BasicWMS.ViewModels.CategoryViewModel>
@{
    var selectedCategoryId = ViewBag.SelectedCategoryId;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title text-center"><strong>Categorías</strong></h2>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <a href="@Url.Action("Index", "Product")" 
               class="list-group-item">Todos 
                <span class="badge">
                    @(Model.Sum(category => category.Productos.Count()))
                </span>
            </a>
            @foreach (var category in Model)
            {
                <a href="@Url.Action("Index", "Product", new { categoryId = category.Id })" 
                   class="list-group-item
                    @if (selectedCategoryId == category.Id)
                    {
                        @Html.Raw("active")
                    }">
                    @category.Nombre <span class="badge">@category.Productos.Count()</span>
                </a>
            }
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/knockout-3.4.2.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-2.0.3.js"></script>
<script type="text/javascript" src="~/Scripts/ViewModels/CategoryVM/CategoriesViewModel.js"></script>
