@model BasicWMS.Models.LocalPasswordModel

<body>
    <div class="container">
        <section id="loginForm">

            @using (Html.BeginForm("Manage", "Account", FormMethod.Post, htmlAttributes: new { @class = "form-signin" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()

                <h2 class="form-signin-heading">Change Password Form</h2>
    
                @Html.LabelFor(m => m.OldPassword, htmlAttributes: new { @class = "sr-only" })
                @Html.PasswordFor(m => m.OldPassword, htmlAttributes: new
                            {
                                @class = "form-control",
                                placeholder = "Old Password"
                            })

                @Html.LabelFor(m => m.NewPassword, htmlAttributes: new { @class = "sr-only" })
                @Html.PasswordFor(m => m.NewPassword, htmlAttributes: new
                            {
                                @class = "form-control",
                                placeholder = "New Password"
                            })

                @Html.LabelFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "sr-only" })
                @Html.PasswordFor(m => m.ConfirmPassword, htmlAttributes: new
                            {
                                @class = "form-control",
                                placeholder = "Confirm Password"
                            })

                <button class="btn btn-lg btn-success btn-block" type="submit">Change Password</button>
            }
        </section>
    </div>
</body>
