@using System.Web.Mvc.Html
@model BasicWMS.ViewModels.Account.LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="login-form form-horizontal col-4">
        
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <h2 class="form-signin-heading">Log in</h2>
                @Html.LabelFor(m => m.UserName, htmlAttributes: new { @class = "sr-only" })
                @Html.TextBoxFor(m => m.UserName, htmlAttributes: new
                            {
                                @class = "form-control",
                                placeholder = "User Name"
                            })
                @Html.ValidationMessageFor(m => m.UserName)

                @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "sr-only" })
                @Html.PasswordFor(m => m.Password, htmlAttributes: new
                            {
                                @class = "form-control",
                                placeholder = "Password"
                            })

                @Html.ValidationMessageFor(m => m.Password)
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

                <p>
                    @Html.ActionLink("Register", "Register") if you don't have an account.
                </p>
            }
 

    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


